@import "./variables";

// $dropdownH: 29px;
// $dropdownHeadW: 150px;
// $dropdownBodyW: 250px;
// $inputP: 5px 10px;
//
// .dropdown {
//   display: inline-block;
//   margin-right: 10px;
//   min-width: $dropdownHeadW;
//   vertical-align: top;
//
//   :global .rw-popup {
//     width: $dropdownBodyW;
//   }
//
//   :global .rw-filter-input {
//     display: block;
//     line-height: 16px;
//     margin: $inputP;
//     width: auto;
//   }
//
//   :global ul.rw-list > li.rw-list-option {
//     border: 0;
//     line-height: 16px;
//     padding: 0;
//   }
//
//   :global ul.rw-list > li.rw-list-option.rw-state-focus {
//     &:hover {
//       background: #e7e7e7;
//     }
//   }
//
//   :global ul.rw-list > li.rw-list-option.rw-state-selected {
//     background: none;
//     color: inherit;
//   }
// }
//
// .checkbox-item,
// .plain-item {
//   cursor: pointer;
//   display: block;
//   position: relative;
//   word-break: keep-all;
//
//   [type=checkbox] {
//     left: 3px;
//     margin-top: -6px;
//     position: absolute;
//     top: 50%;
//   }
// }
//
// .checkbox-item {
//   padding: 5px 10px 5px 25px;
// }
//
// .plain-item {
//   padding: 5px 10px;
// }
//
// .toggle-items-container {
//   line-height: $dropdownH;
//   padding-left: 10px;
// }
//
// .toggle-items-divider {
//   display: inline-block;
//   line-height: $dropdownH;
//   paddding: 0 4px;
//   vertical-align: top;
// }
//
// .clear-all-items,
// .select-all-items {
//   background: none !important;
//   border: 0 !important;
//   color: #1e519f !important;
//   display: inline-block;
//   line-height: $dropdownH;
//   margin: 0 3px;
//   padding: 0 !important;
//   vertical-align: top;
//
//   &:hover {
//     color: palette(orange) !important;
//     text-decoration: underline !important;
//   }
// }

$h: 30px;
$delay: 0.5s;

.dropdownContainer {
  border: 1px solid #ccc;
  box-sizing: border-box;
  max-height: $h;
  line-height: $h;
  overflow: hidden;
  transition: all $delay ease;
  width: 200px;

  &.expanded {
    height: auto;
    max-height: 300px;
  }
}

.caret {
  cursor: pointer;
  font-size: 16px;
  margin-left: auto;
  text-align: center;
  transition: all 0.3s ease;
  width: $h;

  .arrow {
    display: block;
    height: $h;
    line-height: $h;
    transition: transform 0.3s ease;

    &.expanded {
      transform: rotate(180deg);
    }
  }

  &:focus {
    outline: 0;
  }
}

.loading {
  animation-duration: 1.5s;
  animation-name: spin;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  background-image:
    url(
      "data:image/svg+xml;base64,PHN2ZyB4bWxucz\
      0naHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmcnIHdpZHRoPScxNicgaGVpZ2h\
      0PScxNic+PGVsbGlwc2UgY3g9IjgiIGN5PSI4IiByeD0iNyIgcnk9IjciIHN0\
      cm9rZS13aWR0aD0iMiIgc3Ryb2tlLW9wYWNpdHk9JzAuNScgc3Ryb2tlPSIjY\
      2NjIiBmaWxsPSJub25lIiAvPjxwYXRoIGQ9J00gMSA4IEEgOCA4IDAgMCAwID\
      QgMTMuNycgZmlsbD0nbm9uZScgc3Ryb2tlPScjRjQ3RTQyJyAgc3Ryb2tlLXd\
      pZHRoPScyJyBzdHJva2Utb3BhY2l0eT0nMC44JyAvPjwvc3ZnPg=="
    );
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 16px 16px;
  height: $h;
  margin-left: auto;
  width: $h;
}

.dropdownPlainHead {
  border-bottom: 1px solid #ccc;
  cursor: pointer;
  display: flex;
  padding-left: 10px;

  &:hover {
    background: #eee;
  }
}

.dropdownPlainItem {
  cursor: pointer;
  display: block;
  padding-left: 10px;

  &:hover {
    background: #eee;
  }
}

.dropdownCheckboxesHead {
  cursor: pointer;
  display: flex;
  flex-direction: row;

  &:hover {
    background: #eee;
  }
}

.count {
  margin-right: auto;
}

.text {
  margin-right: 5px;
  text-align: left;
}

.remove {
  height: $h;
  line-height: $h;
  text-align: center;
  width: $h;
}

.dropdownCheckboxesHeadRemove {
  height: $h;
  line-height: $h;
  text-align: center;
  width: $h;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.clearAllFilters {
  color: #1e519f;
  cursor: pointer;
  margin-left: 20px;
  outline: 0;
  padding: 0;

  &:hover {
    color: palette(orange);
    text-decoration: underline;
  }
}
